<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        video {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <video id="video" autoplay></video>

    <script>
        // const socketServerUrl = 'ws://localhost:8080';
        // const socket = new WebSocket(socketServerUrl);
        // socket.binaryType = 'arraybuffer';

        // const video = document.querySelector("#video");
        // const mimeCodec = 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"';
        // let mediaSource;

        // if ("MediaSource" in window && MediaSource.isTypeSupported(mimeCodec)) {
        //     mediaSource = new MediaSource();
        //     video.src = URL.createObjectURL(mediaSource);

        //     mediaSource.addEventListener("sourceopen", function () {
        //         const sourceBuffer = mediaSource.addSourceBuffer(mimeCodec);
        //     });
        // } else {
        //     console.error("Unsupported MIME type or codec: ", mimeCodec);
        // }

        var videoElement = document.getElementById('video');
        var ws = new WebSocket('ws://localhost:8080');

        ws.binaryType = 'arraybuffer';

        ws.onopen = function (event) {
            console.log('Połączono z serwerem WebSocket.');
        };

        ws.onmessage = function (event) {
            var blob = new Blob([event.data], { type: 'video/webm' }); // załóżmy, że przesyłasz wideo w formacie webm
            var url = window.URL.createObjectURL(blob);
            videoElement.src = url;
        };

        ws.onerror = function (error) {
            console.error('Błąd WebSocket: ', error);
        };

        ws.onclose = function (event) {
            console.log('Połączenie z serwerem WebSocket zostało zamknięte.');
        };
    </script>
</body>

</html>
